.navbar {
  padding: 15px;
}

.navbar-brand {
  font-size: 2em;
}

.art {
  padding: 20px;
}

.navbar-default {
  margin-bottom: 0;
}

.banner{
    width: 100%;
  height: auto;
}

.panel-body img {
  width: 20%;
  height: auto;
  display: block;
}
.alert{
  display:none;
}

.panel-title{
  margin: 5px;
  font-size: 2em;
}

.comments{
  background: purple !important;
  margin-right: 10px;
}
textarea {
    resize: none;
}
